Django>=4.2
djangorestframework
psycopg2-binary
djangorestframework-simplejwt
dj-database-url
django-environ
django-cors-headers
django-redis
gunicorn
whitenoise
redis
python-dotenv
pytest-django
pytest
